<div style="border-radius: 0;z-index:1;" class="navbar navbar-dark bg-success" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul>
            <a href="/" class="navbar-brand">FarmOverflow</a>
        </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated%}
                
        <li><a href="/home">Home</a></li>
        <li><a href="#footer">Contact</a></li>
        <li><a href="#about">About</a></li>

                <li><button class="btn btn-danger navbar-btn"><a style="color: lavenderblush;" href="{{url_for('main.add_post')}}">Add Post</a></button></li>
                <li><a href="{{url_for('main.profile', id = current_user.id)}}"><span class="glyphicon glyphicon-user"></span> {{current_user.username}}</a></li>
                <li><a href="{{url_for('auth.logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                {% else %}
                <li><a href="{{url_for('auth.login')}}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>