{% extends "base.html" %}
{% block styles%}

{{super()}}
<link rel="stylesheet" href="../static/css/index.css"> {% endblock %} {% block content %}
<div class="container">
   <h1>{{current_user.name | upper}}</h1>
   <div class="row">
       <div class="col-sm-12 col-md-5 col-lg-5">
           {% if user.image %}
           <div class="img-container">
               <img class="img-circle" src="{{url_for('static', filename = user.image)}}" class="img-thumbnail profile-pic">
           </div>
           {% else %}
           <p><h3><strong>{{user.username | capitalize}}</strong></h3> has no image</p>
           {% endif %}
       </div>
       <div class="col-sm-12 col-md-5 col-lg-5">
           <p id="bio"><strong>BIO: </strong>{{current_user.bio}}</p>
           <a href="{{url_for('main.update_profile',user_id = current_user.id)}}"><button class="btn bio-btn">Edit Profile</button></a>
       </div>
   </div>
   <hr>
   <h3 id="font">Profile Statistics</h3>
   <table class="table table-striped">
       <thead>
           <tr>
               <th scope='col'></th>
               <th scope='col'>Number</th>
           </tr>
       </thead>
       <tbody id="bio">
           <tr>
               <td>Posts</td>
               <td >{{posts_no|length}}</td>
           </tr>
           <tr>
               <td>Comments</td>
               <td>{{comments_no|length}}</td>
           </tr>
           <tr>
               <td>Posts Liked</td>
               <td>{{likes_no|length}}</td>
           </tr>
           <tr>
               <td>Posts Disliked</td>
               <td>{{dislikes_no|length}}</td>
           </tr>
       </tbody>
   </table>

</div>
<style>
img{
    max-width: 300px;
    max-height: 300px;
}
#bio{
    font-family: 'Amiri', serif;
    font-size: 19px;
}
#font{
    font-family: 'Rubik Mono One', sans-serif;
}
</style>
{% endblock %}